// Specific CSS for your home-page

body {
  position: relative;
  // padding-bottom: 5em;
}

.home-page-container {
  background-color: #ffffffa8;
  background-blend-mode: overlay;
  background-image: url("landing-page-2.png");
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page-content {
  text-align: center;
}

.no-margin-text {
  margin-bottom: 0px;
}

.margin-topper {
  margin-top: 20px;
}

.page-links {
  position: absolute;
  left: 50vw;
  bottom: 10vh;
  text-align: center;
  transform: translate(-50%, 0);
}
