.destroy-div {
  width: 6vw;
  display: flex;
  justify-content: space-between;
}

.full .ts-control {
  background-color: #DFDFDF;
}

.ts-control {
  justify-content: center;
}

.form-control.is-valid {
  border-color: #DFDFDF;
  background-image: none;
}

.form-select.is-valid {
  border-color: #DFDFDF;
}

.form-select.is-valid:not([multiple]):not([size]) {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.item-edit-img {
  max-height: 35vh;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
