.item-top-div {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;

  i {
    font-size: 25px;
  }
}

.edit-destroy-div {
  width: 16vw;
  display: flex;
  justify-content: space-between;
}

.item-show-div {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.item-show-info {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.item-show-img {
  max-height: 40vh;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
