#profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-div {
  padding-top: 20vh;
  text-align: center;
  width: 60vw;
}

#item-count-div {
  display: flex;
  justify-content: space-around;
  margin-top: 3em;
}
