<div class="container" id="dress-me-container">
  <h1>Welcome <%= @user.first_name %>!</h1>
  <h2>What look are you going for today?</h2>

  <%= form_tag("/outfits/new", method: "get") do %>
    <%= select("occasion", "name", @occasions_name)  %>
    <%= submit_tag("Let's Go!", class: "btn btn-primary")  %>
  <% end %>

  <h2>Add a new item</h2>
  <button type="button" class="btn btn-secondary mt-2">ADD</button>

</div>
