<div class="container" id="new-outfit-container">
  <%= form_tag("/outfits/new", method: "get") do %>
    <%= select("occasion", "name", @occasions_name)  %>
  <% end %>

  <p>Top</p>
  <p>Bottom</p>
  <p>Shoe</p>


  <%= link_to "DRESS ME", affirmations_display_path, class:"btn btn-flat" %>
  <%= link_to "REDO", new_outfit_path, class:"btn btn-flat" %>

</div>
