<div class="container" id="new-outfit-container">
  <%= form_tag("/outfits/new", method: "get") do %>
    <%= select("occasion", "name", @occasions_name)  %>
    <%# <%= submit_tag("Let's Go!", class: "btn btn-primary")  %>
  <% end %>

  <h3>top</h3>
  <h3>bottom</h3>
  <h3>shoes</h3>

  <button type="button" class="btn btn-flat">DRESS ME</button>
  <button type="button" class="btn btn-flat">REDO</button>

</div>
