<div class="home-page-container home-page-content">
  <div class="centered-container">
    <%= image_tag "ootd_logo.png", height: 170, alt: "ootd_logo" %>
    <p class="margin-topper"><strong>LOOK GOOD FEEL GOOD</strong></p>
    <p class="no-margin-text"><strong>Start Your Day Right With</strong></p>
    <p><strong>Outfit Öf The Day</strong></p>
  </div>
</div>
