<div class="centered-content">
    <div class="outfit-container">
        <div class="image-box">
            <div class="image-card ">
                <img src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/igZL5Ul6PxBc/v1/1200x-1.jpg" alt="allbirds 1">
            </div>
            <div class="image-card ">
            <img src="https://cdn.trendhunterstatic.com/thumbs/allbirds-tree-runners.jpeg?auto=webp" alt="allbirds 2">
            </div>
            <div class="image-card ">
            <img src="https://cdn.shopify.com/s/files/1/1104/4168/products/Allbirds_WL_RN_SF_PDP_Natural_White_BTY_fb424258-c5cc-45a9-a246-951cd2886087_900x900.png?v=1663020194" alt="allbirds 3">
            </div>
        </div>

        <div class="affirmation-texts">
            <div class="text-box text-center">
                <h1>You're a style ✨icon✨</h1>
                <br>
                <h2>Your outfit today is on point!</h2>
            </div>
        </div>
    </div>
</div>

<%# <% @outfit.items.each do |item|%>
  <%# <%= item.name %>
<%# <% end %>
