<div data-controller="index-filter", class="container">
  <div class="filter-index mt-3 mb-3">
    <p>Filter by:</p>
    <%= form_with url: "/items", method: :get, html: { data: {index_filter_target: "form"} } do |form| %>
      <%= form.select :occasion, @occasions_name, { prompt: 'ALL OCCASIONS' },
                      {
                        class: "form-dropdown mb-1",
                        data: {
                          action: "change->index-filter#update",
                          index_filter_target: "occasion"
                        }
                      } %>
      <%= form.select :item, Item::TYPE_OPTIONS, {prompt: 'ALL TYPES'},
                      {
                        class: "form-dropdown mb-1",
                        data: {
                          action: "change->index-filter#update",
                          index_filter_target: "type"
                        }
                      } %>
      <%#= form.select :item, Item::LAUNDRY_OPTIONS, {prompt: 'CLEAN AND DIRTY'},
                      {
                        class: "form-dropdown mb-1",
                        data: {
                          action: "change->index-filter#update",
                          index_filter_target: "laundry"
                        }
                      } %>
    <% end %>
  </div>

    <%= render "index_grid", items: @items %>

</div>
