.btn-underline {
    font-family: "Inter", Helvetica, sans-serif;
    font-weight: 400;
    text-decoration: underline;
    color: black;
}

.btn-primary {
  color: #1E1E1E;
  border: none;
  // padding: 2em;
  border-radius: 50px;
  font-weight: bold;
  background: #a0ca9b;
  transition: background 0.3s ease;
  width: 17em;
}

.btn-secondary {
    color: #1E1E1E;
    border: none;
    // padding: 2em;
    border-radius: 50px;
    font-weight: bold;
    background: #DFDFDF;
    transition: background 0.3s ease;
    width: 17em;
  }

  .btn-flat:hover {
    background: #1E1E1E;
    color: white;
  }
