
.btn-underline {
    font-family: "Inter", Helvetica, sans-serif;
    font-weight: 400;
    text-decoration: underline;
    color: black;
}

.btn-secondary {
    color: #1E1E1E;
    border: 2.5px solid #1E1E1E;
    // padding: 2em;
    border-radius: 50px;
    font-weight: bold;
    background: #DFDFDF;
    transition: background 0.3s ease;
    width: 17em;
    margin: 0.5em;
}

  .btn-primary {
    color: #1E1E1E;
    border: 2.5px solid #1E1E1E;
    // padding: 2em;
    border-radius: 50px;
    font-weight: bold;
    background: #ac791a45;
    transition: background 0.3s ease;
    width: 17em;
    margin: 0.5em;
  }

  .btn:hover {
    background: #1E1E1E;
    color: white;
  }
