.form-container {
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .simple_form {
    width: 100%;
    max-width: 600px;
    // padding: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
  }

  .form-inputs {
    max-width: 17em;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }

  .input-background {
    background-color: #DFDFDF;
  }

  .form-actions {
    text-align: center;
    margin-top: 2.5em;
  }

  .form-actions button {
    display: block;
    margin: 0 auto;
  }

  .form-dropdown {
    height: 1.7em;
    width: 17em;
    font-weight: 500;
    border-radius: 50px;
    text-align: center;
    background-color: #DFDFDF;
    border: 0px;
    color: black;
    text-align-last: center;
  }

  .ts-control {
    border: none;
    margin-bottom: 0.2em;
  }

  .form-dropdown-half-screen {
    height: 1.7em;
    width: 43.5vw;
    font-weight: 500;
    border-radius: 50px;
    text-align: center;
    background-color: #DFDFDF;
    border: 0px;
    margin-bottom: 0.2em;
  }

  .form-filter-div {
    display: flex;
    justify-content: space-between;
  }
