.navbar-lewagon {
  justify-content: space-between;
  background: #DFDFDF;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}

.inline-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  i {
    font-size: 32px;
    // color: #1E1E1E;
  }
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding-bottom: 1.5em;
  height: 9vh;
}
