h1 {
  font-family: $headers-font;
  font-size: 26px;
  font-weight: 600;
}

h2 {
  font-family: $headers-font;
  font-size: 20px;
  font-weight: 600;
}

body {
  font-family: $body-font;
  font-size: 16px;
  font-weight: 300;
}

p {
  font-family: $body-font;
  font-size: 12px;
}
